In [24]:
import pandas as pd
import openpyxl

# Importando base
tabela = pd.read_csv('dados_baguncados.csv')

In [25]:
# Padronizando colunas
tabela.columns = tabela.columns.str.strip().str.lower()
print(tabela)

       produto         categoria  quantidade  preco_unitario  data_venda  \
0      Monitor  eletrodomésticos         5.0         1500.50  15/04/2024
1      Cadeira  eletrodomésticos         5.0          250.75  31/01/2024
2      Teclado  eletrodomésticos        20.0          500.00  01/01/2024
3      Cadeira       eletrônicos         5.0         1500.50  15/02/2024
4      Cadeira       eletrônicos        20.0          500.00  16/01/2024
5        Mouse  eletrodomésticos        15.0          250.75  15/04/2024
6      Teclado  eletrodomésticos        20.0          250.75  15/02/2024
7      Teclado       eletrônicos        15.0         1500.50  16/01/2024
8      Teclado       eletrônicos         NaN          250.75  16/03/2024
9      Cadeira       eletrônicos        10.0         1200.00  16/03/2024
10     Monitor        acessórios        20.0          250.75  15/05/2024
11     Teclado        acessórios        10.0          500.00  15/02/2024
12  Impressora        acessórios        20.0          500.00  16/03/2024
13     Cadeira  eletrodomésticos        20.0          500.00  16/01/2024
14       Mouse        acessórios        10.0          500.00  15/05/2024

         cliente_email  uf  coluna_inutil
0   cliente4@email.com  PR            NaN
1   CLIENTE2@email.com  sp            NaN
2   cliente2@email.com  PR            NaN
3   cliente4@email.com  PR            NaN
4   cliente4@email.com  SP            NaN
5   cliente1@email.com  SP            NaN
6   cliente5@email.com  sp            NaN
7   cliente5@email.com  SP            NaN
8   cliente2@email.com  BA            NaN
9   cliente5@email.com  MG            NaN
10  cliente2@email.com  MG            NaN
11  cliente1@email.com  SP            NaN
12  cliente4@email.com  MG            NaN
13  cliente4@email.com  MG            NaN
14  cliente4@email.com  SP            NaN

In [26]:
# Remover duplicatas da tabela inteira
tabela = tabela.drop_duplicates()
print(tabela)

       produto         categoria  quantidade  preco_unitario  data_venda  \
0      Monitor  eletrodomésticos         5.0         1500.50  15/04/2024
1      Cadeira  eletrodomésticos         5.0          250.75  31/01/2024
2      Teclado  eletrodomésticos        20.0          500.00  01/01/2024
3      Cadeira       eletrônicos         5.0         1500.50  15/02/2024
4      Cadeira       eletrônicos        20.0          500.00  16/01/2024
5        Mouse  eletrodomésticos        15.0          250.75  15/04/2024
6      Teclado  eletrodomésticos        20.0          250.75  15/02/2024
7      Teclado       eletrônicos        15.0         1500.50  16/01/2024
8      Teclado       eletrônicos         NaN          250.75  16/03/2024
9      Cadeira       eletrônicos        10.0         1200.00  16/03/2024
10     Monitor        acessórios        20.0          250.75  15/05/2024
11     Teclado        acessórios        10.0          500.00  15/02/2024
12  Impressora        acessórios        20.0          500.00  16/03/2024
13     Cadeira  eletrodomésticos        20.0          500.00  16/01/2024
14       Mouse        acessórios        10.0          500.00  15/05/2024

         cliente_email  uf  coluna_inutil
0   cliente4@email.com  PR            NaN
1   CLIENTE2@email.com  sp            NaN
2   cliente2@email.com  PR            NaN
3   cliente4@email.com  PR            NaN
4   cliente4@email.com  SP            NaN
5   cliente1@email.com  SP            NaN
6   cliente5@email.com  sp            NaN
7   cliente5@email.com  SP            NaN
8   cliente2@email.com  BA            NaN
9   cliente5@email.com  MG            NaN
10  cliente2@email.com  MG            NaN
11  cliente1@email.com  SP            NaN
12  cliente4@email.com  MG            NaN
13  cliente4@email.com  MG            NaN
14  cliente4@email.com  SP            NaN

In [ ]:
# Remover duplicatas de uma coluna especifica
# tabela = tabela.drop_duplicates(subset="data_venda")
# print(tabela)

In [29]:
# Remover colunas com todos os valores vazios com NaN
tabela = tabela.dropna(axis=1, how="all")

# Remover colunas com alguns valores vazios com NaN
# tabela = tabela.dropna(axis=1, how=any)
print(tabela)

       produto         categoria  quantidade  preco_unitario  data_venda  \
0      Monitor  eletrodomésticos         5.0         1500.50  15/04/2024
1      Cadeira  eletrodomésticos         5.0          250.75  31/01/2024
2      Teclado  eletrodomésticos        20.0          500.00  01/01/2024
3      Cadeira       eletrônicos         5.0         1500.50  15/02/2024
4      Cadeira       eletrônicos        20.0          500.00  16/01/2024
5        Mouse  eletrodomésticos        15.0          250.75  15/04/2024
6      Teclado  eletrodomésticos        20.0          250.75  15/02/2024
7      Teclado       eletrônicos        15.0         1500.50  16/01/2024
8      Teclado       eletrônicos         NaN          250.75  16/03/2024
9      Cadeira       eletrônicos        10.0         1200.00  16/03/2024
10     Monitor        acessórios        20.0          250.75  15/05/2024
11     Teclado        acessórios        10.0          500.00  15/02/2024
12  Impressora        acessórios        20.0          500.00  16/03/2024
13     Cadeira  eletrodomésticos        20.0          500.00  16/01/2024
14       Mouse        acessórios        10.0          500.00  15/05/2024

         cliente_email  uf
0   cliente4@email.com  PR
1   CLIENTE2@email.com  sp
2   cliente2@email.com  PR
3   cliente4@email.com  PR
4   cliente4@email.com  SP
5   cliente1@email.com  SP
6   cliente5@email.com  sp
7   cliente5@email.com  SP
8   cliente2@email.com  BA
9   cliente5@email.com  MG
10  cliente2@email.com  MG
11  cliente1@email.com  SP
12  cliente4@email.com  MG
13  cliente4@email.com  MG
14  cliente4@email.com  SP

In [ ]:
#Tratar os tipos dados

tabela["data_venda"] = pd.to_datetime(tabela["data_venda"], errors="coerce")

# A função info() permite ver o tipo/valor dos dados da coluna e quantas celulas da mesma estão preenchidas
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   produto         15 non-null     object
 1   categoria       15 non-null     object
 2   quantidade      14 non-null     float64
 3   preco_unitario  15 non-null     float64
 4   data_venda      15 non-null     datetime64[ns]
 5   cliente_email   15 non-null     object
 6   uf              15 non-null     object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 972.0+ bytes
None

C:\Users\yqueiroz\AppData\Local\Temp\ipykernel_14276\3435812367.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  tabela["data_venda"] = pd.to_datetime(tabela["data_venda"], errors="coerce")
C:\Users\yqueiroz\AppData\Local\Temp\ipykernel_14276\3435812367.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela["data_venda"] = pd.to_datetime(tabela["data_venda"], errors="coerce")

In [32]:
#Tratar linhas com valores vazios

# Vamos preencher o valor vazio na coluna quantidade com a media dos outros valores

tabela["quantidade"] = tabela["quantidade"].fillna(tabela['quantidade'].mean()) 
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   produto         15 non-null     object
 1   categoria       15 non-null     object
 2   quantidade      15 non-null     float64
 3   preco_unitario  15 non-null     float64
 4   data_venda      15 non-null     datetime64[ns]
 5   cliente_email   15 non-null     object
 6   uf              15 non-null     object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 972.0+ bytes
None

C:\Users\yqueiroz\AppData\Local\Temp\ipykernel_14276\3070931065.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela["quantidade"] = tabela["quantidade"].fillna(tabela['quantidade'].mean())

In [33]:
# Padronizando valores de texto
tabela["uf"] = tabela["uf"].str.upper()
tabela["cliente_email"] = tabela["cliente_email"].str.lower()

print(tabela)

       produto         categoria  quantidade  preco_unitario data_venda  \
0      Monitor  eletrodomésticos    5.000000         1500.50 2024-04-15
1      Cadeira  eletrodomésticos    5.000000          250.75 2024-01-31
2      Teclado  eletrodomésticos   20.000000          500.00 2024-01-01
3      Cadeira       eletrônicos    5.000000         1500.50 2024-02-15
4      Cadeira       eletrônicos   20.000000          500.00 2024-01-16
5        Mouse  eletrodomésticos   15.000000          250.75 2024-04-15
6      Teclado  eletrodomésticos   20.000000          250.75 2024-02-15
7      Teclado       eletrônicos   15.000000         1500.50 2024-01-16
8      Teclado       eletrônicos   13.928571          250.75 2024-03-16
9      Cadeira       eletrônicos   10.000000         1200.00 2024-03-16
10     Monitor        acessórios   20.000000          250.75 2024-05-15
11     Teclado        acessórios   10.000000          500.00 2024-02-15
12  Impressora        acessórios   20.000000          500.00 2024-03-16
13     Cadeira  eletrodomésticos   20.000000          500.00 2024-01-16
14       Mouse        acessórios   10.000000          500.00 2024-05-15

         cliente_email  uf
0   cliente4@email.com  PR
1   cliente2@email.com  SP
2   cliente2@email.com  PR
3   cliente4@email.com  PR
4   cliente4@email.com  SP
5   cliente1@email.com  SP
6   cliente5@email.com  SP
7   cliente5@email.com  SP
8   cliente2@email.com  BA
9   cliente5@email.com  MG
10  cliente2@email.com  MG
11  cliente1@email.com  SP
12  cliente4@email.com  MG
13  cliente4@email.com  MG
14  cliente4@email.com  SP

C:\Users\yqueiroz\AppData\Local\Temp\ipykernel_14276\4157879449.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela["uf"] = tabela["uf"].str.upper()
C:\Users\yqueiroz\AppData\Local\Temp\ipykernel_14276\4157879449.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela["cliente_email"] = tabela["cliente_email"].str.lower()

In [34]:
# Criar colunas auxiliares

tabela["faturamento"] = tabela["quantidade"] * tabela["preco_unitario"]
print(tabela)

       produto         categoria  quantidade  preco_unitario data_venda  \
0      Monitor  eletrodomésticos    5.000000         1500.50 2024-04-15
1      Cadeira  eletrodomésticos    5.000000          250.75 2024-01-31
2      Teclado  eletrodomésticos   20.000000          500.00 2024-01-01
3      Cadeira       eletrônicos    5.000000         1500.50 2024-02-15
4      Cadeira       eletrônicos   20.000000          500.00 2024-01-16
5        Mouse  eletrodomésticos   15.000000          250.75 2024-04-15
6      Teclado  eletrodomésticos   20.000000          250.75 2024-02-15
7      Teclado       eletrônicos   15.000000         1500.50 2024-01-16
8      Teclado       eletrônicos   13.928571          250.75 2024-03-16
9      Cadeira       eletrônicos   10.000000         1200.00 2024-03-16
10     Monitor        acessórios   20.000000          250.75 2024-05-15
11     Teclado        acessórios   10.000000          500.00 2024-02-15
12  Impressora        acessórios   20.000000          500.00 2024-03-16
13     Cadeira  eletrodomésticos   20.000000          500.00 2024-01-16
14       Mouse        acessórios   10.000000          500.00 2024-05-15

         cliente_email  uf   faturamento
0   cliente4@email.com  PR   7502.500000
1   cliente2@email.com  SP   1253.750000
2   cliente2@email.com  PR  10000.000000
3   cliente4@email.com  PR   7502.500000
4   cliente4@email.com  SP  10000.000000
5   cliente1@email.com  SP   3761.250000
6   cliente5@email.com  SP   5015.000000
7   cliente5@email.com  SP  22507.500000
8   cliente2@email.com  BA   3492.589286
9   cliente5@email.com  MG  12000.000000
10  cliente2@email.com  MG   5015.000000
11  cliente1@email.com  SP   5000.000000
12  cliente4@email.com  MG  10000.000000
13  cliente4@email.com  MG  10000.000000
14  cliente4@email.com  SP   5000.000000