Pandas

In [7]:
import pandas as pd

In [9]:
# Criando dicionário para exemplos
dados = {'Estado': ['Santa Cataria', 'Rio de Janeiro', 'Tocantins', 'Bahia', 'Minas Gerais'],
         'Ano': [2004,2005, 2006,2007, 2008],
         'Taxa Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]    
}
print(dados)

{'Estado': ['Santa Cataria', 'Rio de Janeiro', 'Tocantins', 'Bahia', 'Minas Gerais'], 'Ano': [2004, 2005, 2006, 2007, 2008], 'Taxa Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}

In [10]:
# Importando a função DataFrame do pandas
from pandas import DataFrame

# Converte o dicionário em um dataFrame
df = DataFrame(dados)

# Visualizar as 5 primieras linhas
df.head()

           Estado   Ano  Taxa Desemprego
0   Santa Cataria  2004              1.5
1  Rio de Janeiro  2005              1.7
2       Tocantins  2006              1.6
3           Bahia  2007              2.4
4    Minas Gerais  2008              2.7

In [ ]:
# Verificando o tipo do df
type(df)

pandas.core.frame.DataFrame

In [13]:
# Reorganizando as colunas
DataFrame(dados, columns= ['Estado', 'Taxa Desemprego', 'Ano'])

           Estado  Taxa Desemprego   Ano
0   Santa Cataria              1.5  2004
1  Rio de Janeiro              1.7  2005
2       Tocantins              1.6  2006
3           Bahia              2.4  2007
4    Minas Gerais              2.7  2008

In [14]:
# Criando outro dataframe com os mesmos dados anteriores mas adicionando uma coluna e index
df2 = DataFrame(dados,
                columns= [ 'Estado', 'Taxa Desemprego', 'Taxa Crescimento', 'Ano'],
                index = ['estado1', 'estado2', 'estado3', 'estado4', 'estado5']
                )
df2

                 Estado  Taxa Desemprego Taxa Crescimento   Ano
estado1   Santa Cataria              1.5              NaN  2004
estado2  Rio de Janeiro              1.7              NaN  2005
estado3       Tocantins              1.6              NaN  2006
estado4           Bahia              2.4              NaN  2007
estado5    Minas Gerais              2.7              NaN  2008

In [15]:
# Visualizar as colunas
df2.columns

Index(['Estado', 'Taxa Desemprego', 'Taxa Crescimento', 'Ano'], dtype='object')